<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.noober.background">


    <application>
        <provider
            android:name="com.noober.background.BackgroundContentProvider"
            android:authorities="${applicationId}.backgroundLibrary"
            android:exported="false"
            android:multiprocess="true" />
    </application>
</manifest>
